.dialog-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  .dialog-content {
    width: 480px;
    height: 312px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px 6px rgba(97, 97, 97, 0.08), 0px 24px 48px 6px rgba(97, 97, 97, 0.08);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;



    .dialog-header {
      height: 56px;
      background: rgba(224, 224, 224, 0.5);
      border-radius: 12px 12px 0px 0px;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 138%;
        letter-spacing: 0.0075em;
      }
      .btn-close {
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:focus {
          outline: none;
        }
      }
    }


    .dialog-body {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0 16px;
      .icon-notification {
        width: 88px;
        height: 88px;
        border: 2px solid #C0C0C0;
        border-radius: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .dialog-body-description {
        width: 300px;
        display: flex;
        flex-direction: column;
        .dialog-description-title {
          font-weight: 600;
          font-size: 20px;
          line-height: 132%;
          color: #414141;
        }
        .dialog-description-notification {
          font-size: 14px;
          line-height: 150%;
          letter-spacing: 0.0168em;
          font-feature-settings: 'tnum' on, 'lnum' on;
        }
      }

    }


    .dialog-footer {
      height: 74px;
      border: 1px solid #E0E0E0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 0px 0px 12px 12px ;

    }
  }
}
