@import './button-global.scss';
@import './button-mixin.scss';

.fill {
  @include effect_button(
    $primary_color: var(--primary),
    $font_color: var(--white),
    $color_active: var(--primary-active-button),
    $color_hover: var(--primary-hover-button)
  );

  &.giant {
    height: 56px;
    width: 124px;
    font-size: 18px;
    line-height: 24px;
  }
  &.large {
    height: 48px;
    width: 108px;
    font-size: 16px;
    line-height: 20px;
  }
  &.medium {
    height: 40px;
    width: 100px;
    font-size: 14px;
    line-height: 16px;
  }
  &.small {
    height: 32px;
    width: 83px;
    font-size: 12px;
    line-height: 16px;
  }
  &.tiny {
    height: 24px;
    width: 66px;
    font-size: 10px;
    line-height: 12px;
  }
}
.gost {
  @include effect_button(
    $primary_color: transparent,
    $font_color: var(--primary),
    $color_hover: var(--button-gost-hover),
    $color_active: var(--medium),
  );
}
