@import './colors.scss';
@import './reset.scss';

@import './button-mixin.scss';

.btn {
  height: 40px;
  width: 118px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }
  &.fill {
    @extend %place_fill;
  }
  &.gost {
    @extend %place_gost;
  }
  &.icon {
    &.show_icon {
      width: 40px;
    }
    &.fill {
      @extend %place_fill;
    }
    &.gost {
      @extend %place_gost;
    }
  }
}
